{% extends "events/base.html" %}

{% block content %}
<br />
<table class="table table-hover table-striped table-bordered">
    <div class="card">
        <div class="card-header">
            You searched for: "{{searched}}"
        </div>
        <div class="card-body">
            <form role="search" method="post" action="{% url 'search_events' %}">
                {% csrf_token %}
                <input class="form-control me-2" type="search" placeholder="Search Venues" aria-label="Search"
                    name="searched">
                <br />
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div> <br />


    {% if searched %}


    {% for event in  events %}
    <div class="card">
        <div class="card-header">
            {{ event }}
        </div>
        <div class="card-body">
            <h5 class="card-title">Venue: {{ event.venue }}</h5>
            <p class="card-text">
            <ul>
                <li> Date: {{ event.event_date }} </li>
                <li> Website: {{ event.venue.web }} </li>
                <li> Manager: {{ event.manager }} </li>
                <li> Description: {{ event.description }} </li>
            </ul>

            <ul>
                <h6 class="card-title">Confirmed Attendees </h6>
                {% for attendee in  event.attendees.all %}
                <li>
                    {{ attendee }} <br />
                </li>
                {% endfor %}
            </ul>
            </p>
        </div>
        {% if user.is_authenticated %}
        {% if user == event.manager %}
        <div class="card-footer">
            <a href="{% url 'update_event' event.id %}" class="btn btn-outline-secondary btn-sm">Update</a>
            <a href="{% url 'delete_event' event.id %}" class="btn btn-outline-danger btn-sm">Delete</a>
        </div>
        {% endif %}
        {% endif %}
    </div>
    <br />
    {% endfor %}
</table>
{% else %}
<h2>You forgot to search for a venue... :( </h2>
{% endif %}




{% endblock content %}