{% extends "events/base.html" %}

{% block content %}
<br />
<div class="card">
    <div class="card-header">
        {{ venue }}
    </div>
    <div class="card-body">
        <!-- <h5 class="card-title">Venue: {{ event.venue }}</h5> -->
        <p class="card-text">
        <ul>
            <li> Address: {{ venue.address }} </li>
            <li> Zip Code: {{ venue.zip_code }} </li>
            <li> Phone: {{ venue.phone }} </li>
            <li> Website: <a href={{venue.web}}> {{ venue.web }} </a> </li>
            <li> Email: {{ venue.email_address }} </li>
            <li> Owner: {{ venue_owner }} </li>
            <li> Owner Email: {{ venue_owner.email }} </li>
        </ul>
        {% if venue.venue_image %}
        <img src="{{ venue.venue_image.url }}" width="400">
        {% endif %}
        <br /><br />
        {% if user.id == venue.owner %}
        <a role="submit" class="btn btn-sm btn-outline-primary" href="{% url 'update_venue' venue.id %}">Update</a>
        {% endif %}
        <br /><br />
        <h4> Events at this venue: </h4>
        {% if event_list %}
        {% for event in event_list %}
        <a href="{% url 'show_event' event.id %}">{{ event }}</a> <br />
        {% endfor %}
        {% else %}
        No events scheduled at this venue.
        {% endif %}
        </p>
    </div>
</div>
<br />


{% endblock content %}